{% extends 'index.html' %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
     <h1 style="margin-top: 100px;" class="text-success p-5">welcome {{user.username}}</h1>
     <h2 >library management</h2>
    <table>
      <tr>
        <th>Book name</th>
        <th>Book details</th>
      </tr>
      {% if lib %}
        {% for l in lib %}
          <tr>
            <td>{{l.book_name}}</td>
            <td>{{l.book_details}}</td>
          </tr>
        {% endfor %}
      {% endif %} 
  
    </table>
    {% else %}
     <h1>Home page</h1>
    {% endif %}
{% endblock %}