{% extends 'index.html' %}
{% block content %}
<div class="container" style="margin-top: 100px;">
   <div  class="col-md-offset-4 col-md-4">
      <table class="table table-bodered">
        <tr>
            <h2 class="text-primary page-header text-center">User Details</h2>
        </tr>
        <tr>
            <th >User Name</th>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{user.email}}</td>
        </tr>
      </table>
   </div>
{% endblock %}